@{
    Layout = "_SecureLayout";
}
<div class="section">
    <div class="row">
        <div class="col s12 m4" style="height: 500px;">
            Content Page will be displayed here.
        </div><svg width="121px" height="29px" viewBox="0 0 121 29"><defs>
<clipPath id="clipPath0">
</clipPath>
</defs>
<text x="2.68220901489258E-06" y="0.278668816586336" fill="#000000" font-family="Times New Roman" font-size="260" alignment-baseline="text-before-edge">
Dashboard</text>
</svg>
<svg width="121px" height="29px" viewBox="0 0 121 29"><defs>
<clipPath id="clipPath0">
</clipPath>
</defs>
<text x="2.68220901489258E-06" y="0.278668816586336" fill="#000000" font-family="Times New Roman" font-size="260" alignment-baseline="text-before-edge">
Dashboard</text>
</svg>
<svg width="121px" height="29px" viewBox="0 0 121 29"><defs>
<clipPath id="clipPath0">
</clipPath>
</defs>
<text x="2.68220901489258E-06" y="0.278668816586336" fill="#000000" font-family="Times New Roman" font-size="260" alignment-baseline="text-before-edge">
Dashboard</text>
</svg>

    </div>
</div>